body
{
	background-color: #1e1a1a;
	color: white;
	margin: 0px;
	padding: 20px;
}

header
{
	display: flex;
}

.reseaux_sociaux
{
	display: flex;
	justify-content: center;
	align-items: baseline;
	border-bottom: solid white 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #4a4343;
}

.reseaux_sociaux ul
{
	display: flex;
	justify-content: center;
	list-style-type: none;
}

img
{
	width: 25px; 
	height: 25px;
}

.mentions
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 15px;
	
}

.logo
{
	display: block;
	float: left;
	padding-top: 135px;
	width: 50px;
	height: 50px;
}

.logo img
{
	width: 100px;
	height: 100px;
}

.Japon
{
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.France
{
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: solid white 1px;
	padding-left: 360px;
}